@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');


html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            display: block;
            width: 100%;
            height: 100%;
            max-height: 100%;
            margin: 0;
            padding: 0;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            color: white;
            font-family: 'Open Sans', sans-serif;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

h1 {
    margin-left: 10%;
    font-size: 5em;
    font-family: 'Londrina Outline', cursive;
}


.container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding: 5%;
  margin-left: 10%;
  margin-right: 10%;
  list-style: none;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  background-color: rgba(0, 0, 0, .5)

}

.container2 {
    width: 60%;
    order: 0;
    }

.bookImage {
  width: 20%;
  order: -1;

}



.title {
    font-size: 3em;
}

.author {
    font-size: 2em;
}

a:link {
   color: white;
   text-decoration: none;
   font-style: italic;
   text:decoration: none;
}

a:hover {
    text:decoration: underline;
    color: aqua;
}