html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            display: block;
            width: 100%;
            height: 100%;
            max-height: 100%;
            margin: 0;
            padding: 0;
            background: url('../images/books.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            }


section {
  width: 100%;
  horizontal-align: center;
}

.section-intro {
  background: #F45B69;
  padding: 50px 0;
  float: left;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.section h1 {
  font-size: 4rem;
}


.result-list {
	height: 60px;
	float: right;
	padding: 20px 0;
	margin: 0 auto;
}

li {
	list-style-type: none;
	text-align: left;
	padding: 10px;
}

li:hover {
	cursor: pointer;
	border-style: solid;
	border-color: #F45B69;
	border-width: 1px;
	border-radius: 10px;
}

h1 {
	font-family: Quattrocento;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 1000;
	line-height: 26.4px;
	text-align: horizontal;
	padding-bottom: 20px;

}
h3 {
	font-family: Quattrocento;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Quattrocento;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 5px;
}

#container {
  margin: auto;
  overflow: hidden;
  width: 1000px;
}

#inner {
  margin: auto;
  overflow: hidden;
  width: 1000px;
  horizontal-align: centre;
  vertical-align: centre;
}


.searchResults {
    padding-left: 20px;
    padding-top: 50px;
    horizontal-align: center;
    vertical-align: center;
    width: 500px;
    height: 100px;
    color: #CCCCCC;
    background-color: #FFFFFF;
}

@charset "utf-8";
/* Global Styles */
a:hover {
	color: rgba(255,255,255,1.00);
}
/*header*/
header {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
/* Logo placeholder*/
#logo {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 139px;
	text-align: center;
	color: rgba(255,255,255,1.00);
	background-color: rgba(190,190,190,1.00);
}


/* Main content of the site */
#content {
	clear: both;
	overflow: auto;
	padding-top: 10px;
	horizontal-align: center;
}

/* main content of the site */
#content .mainContent {
	float: left;
	width: 100%;
	text-align: center;
	padding-left: 0%;
	}

/* Whole page content */
#mainWrapper {
	width: 50%;
	padding-left: 18%;
	padding-bottom: 10%;
}

/* Product rows */
#content .mainContent .productRow {
	overflow: hidden;
	height: 300px;
}
/* Each product Information */
.mainContent .productRow .productInfo {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	width: 20%;
}
/* Titles of products */
.title {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	font-size: 22px;
}
/* Author holder */
.author {
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: #000000;
	white-space: pre-wrap;
	padding-bottom: 10px;
}

.productInfo .description {
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: #000000;
	white-space: pre-wrap;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 20px
}

.productInfo .clickHere {
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: #000000;
	white-space: pre-wrap;
	padding- top: 10px;
	padding-left: 20px;
}

/* Book Image */
.productRow .productInfo .bookImage {
    height: 250px;
    width: 250px;
}

/* Product's images */
.productInfo div img {
	width: 100%;
}


