<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static_files/style.css">
    <title>Python Books</title>
    <h1 id="title">Python Books</h1>
</head>
<body background="../books.jpg">
<div class="search-box-wrapper">
    <input type="text" placeholder="Search for a book..." class="search-box-input">
    <button class="search-box-button">&#128269;</button>
</div>
<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Categories</button>
    <div id="myDropdown" class="dropdown-content">
        <a>Comedy</a>
        <a>Romance</a>
        <a>Thriller</a>
    </div>
    </div>
</div>

<script type="text/javascript" src="../static_files/dropdown.js"></script>

</body>
</html>