<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Python Books</title>
    <h1 id="title">Python Books</h1>
</head>
<body background="../static/images/books.jpg">


<div id="search_bar">
    <form method="post" action="/search">
        <label for="search">Search for a book...</label>
        <input type="text" id="text" name="text"
        required="required">
        <input type="submit" value="Submit" id="submitbutton">
    </form>
</div>

<!-- <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Categories</button>
    <div id="myDropdown" class="dropdown-content">
        <a>Comedy</a>
        <a>Romance</a>
        <a>Thriller</a>
    </div>
    </div>
</div> -->

<script type="text/javascript" src="../static/js/dropdown.js"></script>

</body>
</html>

