<!DOCTYPE HTML>
<html>
	<head>
		<title>Search Results</title>
        <link rel="stylesheet" href="../static/css/result_style.css">
	</head>

	<body>
    <header>
        <div class="logo"><a href="/"><i class="fab fa-python"></i></a></div>
    </header>

    <div id="mainWrapper">
        <h1>Search Results</h1>

        {% for result in results %}
        <div class ="container">
            <h1 class="title">{{ result['title'] }}</h1>
            <h3 class="author">{{ results['authors'] }}</h3>

            <div class="bookInfo">
                <div class="bookImage"><img alt="sample" src ="{{ result['imageLinks'] }}"></div>

                <article class="productInfo">
                    <p class="description"><strong>{{ result['description']  }}</strong></p>
                            <a href="{{ result['infoLink'] }}">Find out more</a>
                        </article>
                    </div>
        </div>

        {% endfor %}


</div>

	</body>

</html>

