<!DOCTYPE HTML>
<html>
	<head>
		<title>Search Results</title>
		<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../static/css/result_style.css">
	</head>

	<body>
	<div class="logo"><a href="/"><i class="fab fa-python"></i></a></div>

	<h1>Search Results</h1>

		{% for result in results %}
	<div>
		<tr>
			<td class="searchResults">
				Title
			</td>
		</tr>
		{% endfor %}</div>
	</div>
	</body>

	<script type="text/python" src="API test.py"></script>
</html>